<div class="container-fluid maxwidth">

    <div class="row">

        <div class="col-md-12">

            <h1>Registered Users</h1>

            <!-- TODO: we probably want to be able to filter this by role -->

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User Information</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users">
                        <td>
                            {{ $index + 1}}
                        </td>
                        <td>
                            <strong>Full name:</strong> {{ user.fullname }}
                            <strong>-</strong>
                            <strong>User name:</strong> {{ user.username }}
                            <strong>-</strong>
                            <strong>Email:</strong> {{ user.email }}<br>
                            <strong>Roles:</strong> <span ng-repeat-start="role in user.roles"></span><span class="label label-default">{{ role }}</span> <span ng-repeat-end></span>
                        </td>
                        <td>
                            <button ng-click="editUserCb(user)" ng-disabled="disabled" class="btn btn-default">Edit</button>
                            <button ng-click="deleteUserCb(user)" ng-disabled="disabled" class="btn btn-default">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <my-app-edit-user controller="editUserController"
                              on-cancel="editUserCancelCb()"
                              on-confirm="editUserConfirmCb()"></my-app-edit-user>

            <my-app-delete-user controller="deleteUserController"
                                on-cancel="deleteUserCancelCb()"
                                on-confirm="deleteUserConfirmCb(user)"></my-app-delete-user>

            <div class="form-group">
                <button ng-disabled="disabled" ng-click="addUserCb ()" class="btn btn-default">Add user</button>
            </div>

        </div>
    </div>

    <my-app-add-user controller="addUserController"
                     on-cancel="addUserCancelCb()"
                     on-confirm="addUserConfirmCb(user)"></my-app-add-user>

</div>
