<div ng-repeat="entry in entries">

    <div ng-if="entry.type == 'paragraph'">
        <div ng-if="entry.paragraphType == 'text'" class="text">
            <p data-katex data-bind="trust (entry.text)" data-auto-render>
            </p>
        </div>
        <div ng-if="entry.paragraphType == 'definition'" class="definition">
            <p><strong>Definition {{entry.number}} ({{trust (entry.title)}})</strong></p>
            <div ng-if="entry.mode == 'math'">
                <p data-katex data-bind="trust (entry.text)" data-auto-render></p>
            </div>
            <div ng-if="entry.mode != 'math'">
                <p ng-bind-html="trust (entry.text)"></p>
            </div>
        </div>
    </div>

    <div ng-if="entry.type == 'section'">
        <h1 ng-if="entry.depth - depth <= 0">
            {{trust (entry.title)}} <a href="" id="{{entry.id}}" ng-click="scrollTo ('' + entry.id)" class="anchor-link"><small><span class="glyphicon glyphicon-link"></span></small></a>
        </h1>
        <h2 ng-if="entry.depth - depth == 1">
            {{trust (entry.title)}} <a href="" id="{{entry.id}}" ng-click="scrollTo ('' + entry.id)" class="anchor-link"><small><span class="glyphicon glyphicon-link"></span></small></a>
        </h2>
        <h3 ng-if="entry.depth - depth == 2">
            {{trust (entry.title)}} <a href="" id="{{entry.id}}" ng-click="scrollTo ('' + entry.id)" class="anchor-link"><small><span class="glyphicon glyphicon-link"></span></small></a>
        </h3>
        <h4 ng-if="entry.depth - depth >= 3">
            {{trust (entry.title)}} <a href="" id="{{entry.id}}" ng-click="scrollTo ('' + entry.id)" class="anchor-link"><small><span class="glyphicon glyphicon-link"></span></small></a>
        </h4>
        <p>{{trust (entry.description)}}</p>
    </div>

    <div ng-if="entry.type == 'unit'">
        <h1 ng-if="entry.depth - depth <= 0">{{trust (entry.fullTitle)}} <a href="" id="{{entry.id}}" ng-click="scrollTo ('' + entry.id)" class="anchor-link"><small><span class="glyphicon glyphicon-link"></span></small></a>
        </h1>
        <h2 ng-if="entry.depth - depth == 1">{{trust (entry.fullTitle)}} <a href="" id="{{entry.id}}" ng-click="scrollTo ('' + entry.id)" class="anchor-link"><small><span class="glyphicon glyphicon-link"></span></small></a>
        </h2>
        <h3 ng-if="entry.depth - depth == 2">{{trust (entry.fullTitle)}} <a href="" id="{{entry.id}}" ng-click="scrollTo ('' + entry.id)" class="anchor-link"><small><span class="glyphicon glyphicon-link"></span></small></a>
        </h3>
        <h4 ng-if="entry.depth - depth >= 3">{{trust (entry.fullTitle)}} <a href="" id="{{entry.id}}" ng-click="scrollTo ('' + entry.id)" class="anchor-link"><small><span class="glyphicon glyphicon-link"></span></small></a>
        </h4>
    </div>

    <div ng-if="entry.type == 'yesnoexercise'">
        <my-app-yes-no-exercise exercise="entry" onanswered="answered_cb(entry, answer_model, answer)"></my-app-yes-no-exercise>
    </div>

    <div ng-if="entry.type == 'multianswerexercise'">
        <my-app-multi-answer-exercise exercise="entry" onanswered="answered_cb(entry, answer_model, answer)"></my-app-multi-answer-exercise>
    </div>

    <div ng-if="entry.type == 'continue-button'">
        <button class="btn btn-default" style="width: 100%" ng-click="continue_cb()">Continue</button>
    </div>

    <div ng-if="entry.type == 'interactive-content'" my-app-initialize data-content-object="entry">

    </div>

</div>
