<div>
    <a ui-sref="home.student.courses({course_id: courseId })">Back</a>
</div>

<div ng-repeat="entry in entries">

    <!-- The section is only rendered if the title is non-empty. We add this additional anchor element,
     such that scrolling to the anchro id works also in cases where the title is empty. -->
    <a ng-if="entry.type != 'section' || !entry.title" id="{{entry.id}}" ></a>

    <div ng-if="entry.type == 'paragraph'">
        <div ng-if="entry.paragraphType == 'text'" class="text">
            <p data-katex data-bind="trust (entry.text)" data-auto-render class="text-justify">
            </p>
        </div>
        <div ng-if="entry.paragraphType == 'definition'" class="definition panel panel-default">
            <div class="panel-heading">
                <strong>Definition {{entry.number}} ({{trust (entry.title)}})</strong>
            </div>
            <div class="panel-body">
                <div ng-if="entry.mode == 'math'">
                    <p data-katex data-bind="trust (entry.text)" data-auto-render class="text-justify"></p>
                </div>
                <div ng-if="entry.mode != 'math'">
                    <p ng-bind-html="trust (entry.text)" class="text-justify"></p>
                </div>
            </div>
        </div>

        <div ng-if="entry.paragraphType == 'takeaway'" class="takeaway panel panel-success">
            <div class="panel-heading">
                <strong>Takeaway Point {{entry.number}} ({{trust (entry.title)}})</strong>
            </div>
            <div class="panel-body">
                <div ng-if="entry.mode == 'math'">
                    <p data-katex data-bind="trust (entry.text)" data-auto-render class="text-justify"></p>
                </div>
                <div ng-if="entry.mode != 'math'">
                    <p ng-bind-html="trust (entry.text)" class="text-justify"></p>
                </div>
            </div>
        </div>

    </div>

    <div ng-if="entry.type == 'section' && entry.title">
        <my-app-header level="entry.depth - depth">
            {{trust (entry.title)}} <a id="{{entry.id}}" my-app-scroll-handler destination="entry.id" class="anchor-link"><small><span class="glyphicon glyphicon-link"></span></small></a>
        </my-app-header>
        <p>{{trust (entry.description)}}</p>
    </div>

    <div ng-if="entry.type == 'unit'">
        <my-app-header level="entry.depth - depth">
            {{trust (entry.fullTitle)}} <a id="{{entry.id}}" my-app-scroll-handler destination="entry.id" class="anchor-link"><small><span class="glyphicon glyphicon-link"></span></small></a>
        </my-app-header>
        <p>{{ trust (entry.description) }}</p>
    </div>

    <div ng-if="entry.type == 'yesnoexercise'">
        <my-app-yes-no-exercise exercise="entry" onanswered="answered_cb(entry, answer_model, answer)"></my-app-yes-no-exercise>
    </div>

    <div ng-if="entry.type == 'multianswerexercise'">
        <my-app-multi-answer-exercise exercise="entry" onanswered="answered_cb(entry, answer_model, answer)"></my-app-multi-answer-exercise>
    </div>

    <div ng-if="entry.type == 'continue-button'">
        <button class="btn btn-default" style="width: 100%" ng-click="continue_cb()">Continue</button>
    </div>

    <div ng-if="entry.type == 'interactive-content'" my-app-initialize entry="entry" >

    </div>

</div>
