<div class="row">
    <div class="col-md-9">
        <h1>Step-wise formula evaluation</h1>
        <div class="row">
            <div class="col-md-9">
                <p>
                    Mark tried to solve the following formula: <span><strong>(a ^ b) v (c XOR D)</strong></span>, given the
                    following variable assignments,
                    specify where mark has made a mistake.
                </p>
                <ul>
                    <li>a->0</li>
                    <li>b->1</li>
                    <li>c->1</li>
                    <li>d->1</li>
                </ul>

                <p>
                    Did Mark make a mistake?
                </p>

                <div class="col-md-10">
                    <div class="row spacer-bottom">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            (a ^ b) v (c XOR D)
                        </div>
                        <div class="col-md-2">Original Formula</div>
                    </div>
                    <div class="row spacer-bottom">
                        <div class="col-md-1">
                            <input type="radio" name="solution" value="1" ng-model="solution">
                        </div>
                        <div class="col-md-4">
                            <span><strong>(0 ^ 1) v (1 XOR 1)</strong></span>
                        </div>
                        <div class="col-md-2"> Step 1</div>
                    </div>

                    <div class="row spacer-bottom">
                        <div class="col-md-1">
                            <input type="radio" name="solution" value="2" ng-model="solution">
                        </div>
                        <div class="col-md-4">
                            <span><strong>1 v (1 XOR 1)</strong></span>
                        </div>
                        <div class="col-md-2">Step 2</div>
                    </div>

                    <div class="row spacer-bottom">
                        <div class="col-md-1">
                            <input type="radio" name="solution" value="3" ng-model="solution">
                        </div>
                        <div class="col-md-4"><strong>1 v 0</strong></div>
                        <div class="col-md-2">Step 3</div>
                    </div>

                    <div class="row spacer-bottom">
                        <div class="col-md-1">
                            <input type="radio" name="solution" value="4" ng-model="solution">
                        </div>
                        <div class="col-md-4"><strong>1</strong></div>
                        <div class="col-md-2">Step 4</div>
                    </div>

                    <div class="row spacer-bottom">
                        <div class="col-md-1">
                            <input type="radio" name="solution" value="5" ng-model="solution">
                        </div>
                        <div class="col-md-5">Mark did not make a mistake.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div ng-if="answerbutton">
                    <button ng-click="check(solution)" class="btn btn-success">
                        {{buttonMessage}}
                    </button>
                </div>
                <div ng-if="hintbutton">
                    <button class="btn btn-primary" data-toggle="tooltip" data-placement="left"
                            title="When using hints questions do not count as answered successfully.">
                        View Hint
                    </button>
                </div>



                <p ng-if="checked && correct">Answer is correct.</p>

                <p ng-if="checked && !correct">Answer is wrong.</p>
            </div>
        </div>
    </div>
</div>
