<div class="container-fluid maxwidth">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 text-center">
            <h1>Mastery Learning for Logic <br>and <br>Formal Methods</h1>
            <p>
                This is an interactive e-learning application specifically designed to aid students
                with learning mathematical and logical content.
            </p>
            <p>
                The application is currently in a <em>beta</em> phase and only open for selected students.
                If you have received a user account from your teaching assistant please enter the
                credentials below to login. You will then be forwarded to the study page.
            </p>
        </div>
    </div>
    <!--
        Mathematical Unicode characters are based on the following list
        http://www.fileformat.info/info/unicode/category/Sm/list.htm and
        https://en.wikipedia.org/wiki/Mathematical_operators_and_symbols_in_Unicode
    -->
    <!-- We could add the word LOGIC to the o of formal or the l of formal. -->
    <div class="row">
        <div class="col-md-offset-3 col-md-6 text-center col-sm-12 text-center">
            <strong style="font-size: 40px;">&#x1D453;</strong>
            &nbsp;
            <strong style="font-size: 40px;">&#x2295;</strong>
            &nbsp;
            <strong style="font-size: 40px;">&#x211d;</strong>
            &nbsp;
            <strong style="font-size: 40px;">&#x2A4B</strong>
            &nbsp;
            <strong style="font-size: 40px;">&#x2200;</strong>
            &nbsp;
            <strong style="font-size: 40px;">&#x1D740;</strong>

            <p></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6" ng-controller="LoginController">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Login
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input ng-model="username" type="text" id="username" class="form-control" placeholder="Enter username">
                        </div>

                        <div class="form-group">
                            <label for="password">Username:</label>
                            <input ng-model="password" type="password" id="password" class="form-control" placeholder="Enter password">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-default" ng-click="login()">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
