<div class="container-fluid maxwidth">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 text-center">
            <h1>Formal Methods in Computer Science (WS'17)<br>Part 4: Model Checking</h1>
        </div>
    </div>

    <br>
    <br>


    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6" ng-controller="LoginController">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Login
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="username">Username or Email:</label>
                            <input ng-model="username" type="text" id="username" class="form-control" placeholder="Enter username or email address">
                        </div>

                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input ng-model="password" type="password" id="password" class="form-control" placeholder="Enter password">
                        </div>

                        <p ng-if="loginError" class="alert alert-danger">Error logging in, please check username and password and make sure that the user exists on the server.</p>

                        <div class="form-group">
                            <button class="btn btn-default" ng-click="login()">Login</button>
                        </div>

                        <p><a ui-sref="user.recovery">Forgot your password?</a></p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
