/* app css stylesheet */


html {
    height: 100%;
    overflow-y: scroll;
}

body {
    height: 100%;
    padding-top: 70px;

}

#wrap {
    min-height: 100%;
}

/* This allows to push the footer further down if the content area grows in height. */
#main {
    overflow:auto;
    padding-bottom:100px; /* this needs to be bigger than footer height*/
}

.maxwidth {
    max-width: 1000px;
}

.footer {
    background: #222229;
    color: #ccc;
    padding: 50px;
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    height: 100px;
    clear:both;
    padding-top:20px;
}

.lectures .entry {
    margin-bottom: 10px;
}

.breadcrumb > li.next:before {
    content: "";
}

/**
 * Styling for .anchor-link, anchors inside h1, h2, etc. elements will show an anchor link on hower
 */
h1 > .anchor-link,
h2 > .anchor-link,
h3 > .anchor-link,
h4 > .anchor-link,
h5 > .anchor-link,
h6 > .anchor-link,
.h1 > .anchor-link,
.h2 > .anchor-link,
.h3 > .anchor-link,
.h4 > .anchor-link,
.h5 > .anchor-link,
.h6 > .anchor-link {
    opacity: 0;
}

h1:hover > .anchor-link,
h2:hover > .anchor-link,
h3:hover > .anchor-link,
h4:hover > .anchor-link,
h5:hover > .anchor-link,
h6:hover > .anchor-link,
.h1:hover > .anchor-link,
.h2:hover > .anchor-link,
.h3:hover > .anchor-link,
.h4:hover > .anchor-link,
.h5:hover > .anchor-link,
.h6:hover > .anchor-link {
    opacity: 1;
}
