<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid maxwidth">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul ng-if="getCurrentRole() === Role.NONE"  class="nav navbar-nav">
                <li ui-sref-active-eq="active"><a ui-sref="home" data-ui-sref-opts="{reload: true}">Home</a></li>
            </ul>

            <ul ng-if="getCurrentRole() === Role.NONE" class="nav navbar-nav navbar-right">
                <li ui-sref-active-eq="active"><a ui-sref="about">About</a></li>
            </ul>

            <ul ng-if="getCurrentRole() === Role.STUDENT" class="nav navbar-nav">
                <li ui-sref-active-eq="active"><a ui-sref="home.student" data-ui-sref-opts="{reload: true}">Home</a></li>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </ul>
            <ul ng-if="getCurrentRole() === Role.TEACHER" class="nav navbar-nav">
                <li ui-sref-active-eq="active"><a ui-sref="home.teacher">Home</a></li>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </ul>

            <!-- User menu with profile, logout and links to switch between roles -->
            <ul ng-if="getCurrentRole() !== Role.NONE" class="nav navbar-nav navbar-right">
                <li uib-dropdown>
                    <a id="single-button" type="button" class="dropdown-toggle" uib-dropdown-toggle>
                        <span >
                            <span><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                            John Doe <span class="caret"></span>
                        </span>
                    </a>
                    <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li ui-sref-active="active" ng-if="getCurrentRole() === Role.STUDENT">
                            <a ui-sref="home.student.profile">Profile</a>
                        </li>
                        <li ui-sref-active="active" ng-if="getCurrentRole() === Role.TEACHER">
                            <a ui-sref="home.teacher.profile">Profile</a>
                        </li>

                        <li ng-if="getCurrentRole() !== Role.TEACHER && hasRole (Role.TEACHER)">
                            <a ng-click="switchRole (Role.TEACHER)">Teacher View</a>
                        </li>

                        <li ng-if="getCurrentRole() !== Role.STUDENT && hasRole (Role.STUDENT)">
                            <a ng-click="switchRole (Role.STUDENT)">Student View</a>
                        </li>

                        <li ng-show="getCurrentRole() !== Role.NONE" ng-click="logout ()">
                            <a href="">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
