<div>
    <p><strong>{{exercise.title}}</strong></p>
    <p data-katex data-bind="sanitize(exercise.text)" data-auto-render></p>
    <div ng-if="exercise.type === 'yesnoexercise'" ng-class="{alert: true, 'alert-success': showAlertClass(true), 'alert-danger': showAlertClass(false) }">
        <label for="answer">Answer:</label>
        <select ng-model="results[0]" id="answer"
                ng-options="option.value as option.label for option in [
                    {value: true, label: 'Yes'},
                    {value: false, label: 'No'}]"
                ng-disabled="answered"
                ng-change="answered_cb()">
        </select>
    </div>
    <div ng-if="exercise.type === 'multianswerexercise'">
        <label for="answer">Answers:</label>

        <ul class="list-group">
            <li ng-repeat="candidate in exercise.answer_candidates" class="list-group-item" ng-class="{'list-group-item-danger': showAlertClass(false, $index), 'list-group-item-success': showAlertClass (true, $index)}">
                <input ng-model="results[$index]" ng-disabled="answered" type="checkbox" id="checkbox_{{$index}}">
                <label for="checkbox_{{$index}}" data-katex data-bind="sanitize(candidate.text)" data-auto-render></label>
            </li>
            <li class="list-group-item"><button ng-click="check_answer()" ng-disabled="answered" class="btn btn-success">Check</button></li>
        </ul>

    </div>
</div>
