<ol class="breadcrumb text-center">
    <li ng-if="unit.prev != null" class="prev pull-left">Prev: <a ui-sref="home.student.courses.entries.structure({course_id: 'fmi', entry_id: unit.prev})">Last Unit</a></li>
    <li><a ui-sref="home.student.courses({course_id: 'fmi'})">FMI</a></li>
    <li class="active">{{unit.breadcrumb_title}}</li>
    <li ng-if="unit.next != null" class="next pull-right">Next: <a ui-sref="home.student.courses.entries.structure({course_id: 'fmi', entry_id: unit.next})">Next Unit</a></li>
</ol>

<ul class="nav nav-tabs">
    <li role="presentation" ui-sref-active="active"><a ui-sref="home.student.courses.entries.structure">Structured Content</a></li>
    <li role="presentation" ui-sref-active="active"><a ui-sref="home.student.courses.entries.exercises">Exercises</a></li>
    <li role="presentation" ui-sref-active="active"><a ui-sref="home.student.courses.entries.flow">Flow</a></li>
</ul>

<ui-view></ui-view>
