server {
    listen       80;
    server_name  ${NGINX_HOST};

    location / {
        return 301 https://${NGINX_HOST}$request_uri;
    }

    location /.well-known {
        root /var/www/letsencrypt;
    }
}
