/* app css stylesheet */


html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 70px;
}

#wrap {
    min-height: 100%;
}

/* Seems not necessary to push down the footer. Maybe older browsers need this? Tested with latest chrome */
/*#main {
    overflow:auto;
    padding-bottom:100px; !* this needs to be bigger than footer height*!
}*/

.spacer-bottom {
    margin-bottom: 20px;
}

.footer {
    background: #CCC;
    padding: 30px;
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    height: 100px;
    clear:both;
    padding-top:20px;
}


.lectures.sidebar {
    min-width: 200px;
    background: #9cdd8a;
    height: calc(100vh - 200px);
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topright: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.lectures.sidebar .search {
    position: absolute;
    bottom: 5px;
    left: 20px;
    width: calc(100% - 40px)
}
