<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav" ng-if="roleService.currentRole === roleService.STUDENT">
            <li><a class="navbar-brand" ui-sref="student">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="topics">Topics</a></li>
            <li ui-sref-active="active"><a ui-sref="home.student.profile">Student Profile</a></li>
            <li ui-sref-active="active"><a ui-sref="practice">Practice</a></li>
            <li ui-sref-active="active"><a ui-sref="lectures2">Lectures</a></li>
        </ul>
        <ul class="nav navbar-nav" ng-if="roleService.currentRole === roleService.TEACHER">
            <li><a class="navbar-brand" ui-sref="teacher">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="home.teacher.profile">Teacher Profile</a></li>
            <li ui-sref-active="active"><a ui-sref="lectures2">Manage Lectures</a></li>
        </ul>

        <!-- Role switcher to switch between the student and teacher role -->
        <ul class="nav navbar-nav navbar-right">
            <li uib-dropdown is-open="status.isopen">
                <a id="single-button" type="button" class="dropdown-toggle" uib-dropdown-toggle>
                    <span ng-show="roleService.currentRole === roleService.NONE">
                        <small>Sign in</small><span class="caret"></span>
                    </span>
                    <span ng-show="roleService.currentRole !== roleService.NONE">
                        <small>Signed in as</small> John Doe
                        <small style="text-transform: capitalize">({{roleService.getCurrentProperty().name}})</small><span class="caret"></span>
                    </span>
                </a>
                <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li ng-class="{ active: roleService.currentRole === roleService.STUDENT }" role="menuitem" ng-click="switch_role (roleService.STUDENT)"><a href="">Student Role</a></li>
                    <li ng-class="{ active: roleService.currentRole === roleService.TEACHER }" role="menuitem" ng-click="switch_role (roleService.TEACHER)"><a href="">Teacher Role</a></li>
                </ul>
            </li>
            <li ng-show="roleService.currentRole !== roleService.NONE" ng-click="switch_role (roleService.NONE)">
                <a href="">Logout</a>
            </li>
        </ul>
    </div>
</nav>
