<div ng-repeat="entry in entries">

    <div ng-if="entry.data.type === 'unit'">
        <h1>{{entry.data.full_title}}</h1>
    </div>

    <div ng-if="entry.data.type == 'paragraph'">
        <div ng-if="entry.data.paragraph_type == 'text'" class="text">
            <p>{{sanitize (entry.data.text)}}</p>
        </div>
        <div ng-if="entry.data.paragraph_type == 'definition'" class="definition">
            <p><strong>Definition {{entry.data.number}} ({{sanitize (entry.data.title)}})</strong></p>
            <div ng-if="entry.data.mode == 'math'">
                <p data-katex data-bind="sanitize (entry.data.text)" data-auto-render></p>
            </div>
            <div ng-if="entry.data.mode != 'math'">
                <p>{{entry.data.text}}</p>
            </div>
        </div>
    </div>

    <div ng-if="entry.data.type == 'section'">
        <h2>{{sanitize (entry.data.title)}}</h2>
        <p>{{sanitize (entry.data.description)}}</p>
    </div>
</div>
