<div class="row" stlye="border: 1px solid grey">
    <div class="col-md-6">
        <h1>Simple formula evaluation</h1>

        <p>
            Given the following variable assignments:
        </p>
        <ul>
            <li>a->0</li>
            <li>b->1</li>
            <li>c->1</li>
            <li>d->1</li>
        </ul>
        <p>
            Please specify the result for the following logical formula:
        </p>

        <p>
            <span>(a ^ b) v (c XOR D) = <input type="text" name="result" ng-model="result" style="width: 40px;"></span>
        </p>

        <p>
            <button class="btn btn-primary" ng-click="check(result)">{{buttonMessage}}</button>
        </p>

        <p ng-if="checked && correct">Answer is correct.</p>

        <div ng-if="checked && !correct">
            <p>Answer is wrong.</p>

            <p>Please evaluate the following questions separately:</p>

            <div class="row">
                <div class="col-md-offset-1 col-md-1">(0 ^ 1)</div>
                <div class="col-md-2"><input type="text" style="width: 40px;"></div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-1">(1 ^ 1)</div>
                <div class="col-md-2"><input type="text" style="width: 40px;"></div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-1">(1 XOR 1)</div>
                <div class="col-md-2"><input type="text" style="width: 40px;"></div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-1">(0 XOR 1)</div>
                <div class="col-md-2"><input type="text" style="width: 40px;"></div>
            </div>
            <div class="row">
                <div class="col-md-offset-1 col-md-1">(0 XOR 0)</div>
                <div class="col-md-2"><input type="text" style="width: 40px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6 bg-info">
        <h1>Storyboard</h1>
        <p><strong>Question type:</strong>Simple propositional formula</p>
        <p>In this exercise we give the student a simple propositional formula to evaluate. When answered correctly,
            we just go on to the next question. When a mistake is made, then we split-up the original formula into
            its parts and let the user evaluate each part separately. This allows us to build up a statistical model
            of operators that the student has problems with. As a result we will let the student practice this
            operator more often in future questions.</p>
        <p><strong>Note:</strong> Please answer this question wrong to see how we break it up into its parts.</p>
    </div>
</div>
