<div class="container-fluid maxwidth">
    <div class="row">
        <div class="col-lg-12 col-md-12">

            <ui-view>

                <div ng-repeat="activeCourse in active_courses">
                    <h2 ><a ui-sref="home.student.courses({course_id: activeCourse.courseOutDto.id})">{{get_course_title (activeCourse.courseOutDto)}}</a></h2>
                    <p>
                        Continue from last position:
                        <a ui-sref="home.student.courses.entries.flow ({course_id: activeCourse.courseOutDto.id, entry_id: activeCourse.lastEntryId})">
                            Entry {{activeCourse.lastEntryId}}
                        </a>
                    </p>
                </div>

                <h2 ng-if="active_courses.length === 0">There are no active courses in the data base. Please create a course first.</h2>

            </ui-view>
        </div>
    </div>
</div>
