<form>
    <div ng-if="requestOldPassword" class="form-group">
        <label for="old-password" class="control-label">Old password:</label>
        <input ng-model="oldPassword" id="old-password" class="form-control" type="password" placeholder="Enter old password">
    </div>
    <div class="form-group has-feedback">
        <label for="new-password" class="control-label">New Password:</label>
        <input ng-model="newPassword" id="new-password" class="form-control" type="password" placeholder="Enter new password"
               ng-change="onNewPasswordChanged ()">
    </div>
    <div class="form-group has-feedback" ng-class="{ 'has-error': errors['newPasswordRepeat'], 'has-success': passwordsMatch }">
        <label for="new-password-repeat" class="control-label">Repeat new password:</label>
        <input ng-model="newPasswordRepeat" id="new-password-repeat" class="form-control" type="password" placeholder="Repeat your password"
               ng-change="onNewPasswordChanged ()">
        <span ng-show="errors['newPasswordRepeat']" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <span ng-show="passwordsMatch"
                              class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
    </div>

    <p ng-if="errors['passwordChanged']" class="alert alert-danger">
        An error occurred while changing the password. The password was not changed.
    </p>
    <p ng-if="passwordChangeSuccess" class="alert alert-success">
        Password successfully changed.
    </p>

    <button class="btn btn-success" ng-disabled="!passwordsMatch" ng-click="changePassword ()">Save</button>
</form>
