<div class="container-fluid maxwidth">
    <ui-view>
        <h1>Current courses</h1>

        <table class="table">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Period</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>

            <tr ng-repeat="course in courses">
                <th>{{$index + 1}}</th>
                <td>{{course.title}}</td>
                <td>{{course.period}}</td>
                <td>{{course.description | limitTo : 200 }}</td>
                <td>
                    <a ng-click="edit_cb ($index)" href="">Edit</a><span> | </span>
                    <a ng-click="loadStatistics ($index)" href="">Statistics</a>
                </td>
            </tr>

        </table>

        <div ng-if="courseEditMode">
            <h2>Edit Course</h2>
            <div>
                <form>
                    <div class="form-group">
                        <label for="course_title">Title</label>
                        <input ng-model="course.title" type="text" class="form-control" id="course_title" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="course_period">Period</label>
                        <input ng-model="course.period" type="text" class="form-control" id="course_period" placeholder="Period">
                    </div>
                    <div class="form-group">
                        <label for="course_description">Description</label>
                        <textarea ng-model="course.description" class="form-control" rows="5" id="course_description" placeholder="Description..."></textarea>
                    </div>

                    <div class="form-group">
                        <button ng-click="save_cb ()" class="btn btn-success">Save</button>
                        <button ng-click="cancel_cb ()" class="btn btn-default">Cancel</button>
                    </div>
                </form>
            </div>
        </div>

        <div ng-if="statistics !== null">

            <h2>Statistics for Course {{ statistics.courseId }}</h2>

            <table class="table">

                <tr>
                    <th>#</th>
                    <th>Fullname</th>
                    <th class="text-right">Entries read</th>
                    <th class="text-right">Progress (%)</th>
                </tr>

                <tr ng-repeat="historyEntry in statistics.historyEntriesPerUsers">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ historyEntry.fullname }}</td>
                    <td class="text-right">{{ historyEntry.historyCount + " / " + statistics.entryCount }}</td>
                    <td class="text-right">{{ (historyEntry.historyCount / statistics.entryCount) | percent : 1 }}</td>
                </tr>

            </table>

        </div>
    </ui-view>
</div>
