<h1>Profile</h1>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h2>Details</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="form-group">
                                    <label for="fullname">Full Name:</label>
                                    <input ng-model="currentUser.fullname" type="text" id="fullname" class="form-control" ng-disabled="true">
                                </div>
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input ng-model="currentUser.username" type="text" id="username" class="form-control" ng-disabled="true">
                                </div>
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input ng-model="currentUser.email" type="text" id="username" class="form-control" ng-disabled="true">
                                </div>
                                <div class="alert alert-info">Your email address is not visible to other users.</div>
                                <p>You are registered as a <strong>student</strong></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well">
                    <h2>Account</h2>
                    <p>Change your accounts password:</p>
                    <div class="form-group">
                        <label for="oldpassword" class="control-label">Old password:</label>
                        <input ng-model="oldpassword" id="oldpassword" class="form-control" type="password" placeholder="Enter old password">
                    </div>
                    <div class="form-group has-feedback">
                        <label for="newpassword" class="control-label">New Password:</label>
                        <input ng-model="newpassword" id="newpassword" class="form-control" type="password" placeholder="Enter new password"
                               ng-change="newpassword_changed_cb ()">
                    </div>
                    <div class="form-group has-feedback" ng-class="{ 'has-error': errors['newpasswordrepeat'], 'has-success': passwordsMatch }">
                        <label for="newpasswordrepeat" class="control-label">Repeat new password:</label>
                        <input ng-model="newpasswordrepeat" id="newpasswordrepeat" class="form-control" type="password" placeholder="Repeat your password"
                               ng-change="newpassword_changed_cb ()">
                        <span ng-show="errors['newpasswordrepeat']" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                        <span ng-show="passwordsMatch"
                              class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    </div>

                    <p ng-if="errors['passwordChanged']" class="alert alert-danger">
                        An error occurred while changing the password. The password was not changed.
                    </p>
                    <p ng-if="passwordChangeSuccess" class="alert alert-success">
                        Password successfully changed.
                    </p>

                    <button class="btn btn-default" ng-disabled="!passwordsMatch" ng-click="changePassword ()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
